*{
    padding: 0;
    margin:0;
}
body{
    background-color: rgb(239,238,238);
    font-size: 62.5%;
}
.top{

    width: 100%;
    height: 420px;
    /*background:url('http://xqproduct.xiangqu.com/FpDI_SvahVndBqZtQ8DLs5f0T4T0?imageView2/2/w/655/q/90/format/jpg/@w/$w$@/@h/$h$@/655x360/') no-repeat;*/
    background-color: #222;
    color:#FFF;
}
.top .sub_wrap{
    position: relative;
    top:77px;
    width:200px;
    height:253px;
    margin:0 auto;
    text-align: center;
}
.sub_wrap .out_img{
    width: 156px;
    height:156px;
    border-radius: 50%;
    margin:0 auto;
    background-color: #FFF;
    overflow: hidden;
    text-align: center;
}
.sub_wrap .out_img img{
    width: 150px;
    height: 150px;
    margin-top: 3px;
    border-radius: 50%;
}
.sub_wrap .name{
    line-height: 50px;
    font-size: 34px;
    display: inline-block;
    margin-top: 7px;


}
.sub_wrap .name_write{
    position: absolute;
    bottom:47px;
    right:10px;

}
.sub_wrap .write{
    line-height: 40px;
    font-size: 24px;


}
.center{
    width: 100%;
    height:270px;
    background-color: #FFF;
    margin-top: 20px;
}
.sub_center{
    width: 100%;
    height:88px;

    line-height: 90px;
}
.sub_center .sign{
    position: relative;
    margin-left: 3%;
    top:5px;
}
.content{
    position: relative;
    display: inline-block;
    margin-left: 3%;
    width: 80%;
    height:88px;
    line-height: 90px;
    border-bottom: 1px #DDD solid;
}
.content p{
    font-size: 28px;
    display: inline-block;
}
.content img{
    position: absolute;
    right:2px;
    top:30px;
    width: 31px;

}
.bottom{
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: #FFF;
}
.bottom ul {
    width: 100%;
    overflow: hidden;
}
.bottom ul li{
    float: left;
    width: 33%;
    text-align: center;
    list-style: none;
    padding: 3px 0;
}
.bottom ul li img{
    width: 30px;
}
.bottom ul li p{
    font-size: .8rem;
    font-weight: bold;
}