html{
    font-size: 62.5%;
}
body,ul,li,p{
    padding: 0;
    margin: 0;
}
body{
    width: 100%;
    height: 100%;
}
.wrap{
    width: 100%;
    position: relative;
    overflow: hidden;
}
.wrap_bg{
    background: url("http://xqproduct.xiangqu.com/FhUPsz4oZrsecYRVSBd9VVmCV1ei?imageView2/2/w/640/q/100/format/jpg/640x1000/") repeat;
    background-size:100% 100%;
    /*background-position-x:10%;*/
    background-position-y:0%;
}
.wrap_bg_move{
    /*animation: bg_move 10s linear infinite;*/
}
@-webkit-keyframes bg_move{
    0%{
        background-position-x:10%;
    }
    50%{
        background-position-x:20%;
    }
    100%{
        background-position-x:10%;
    }

}
.win_show{
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.snow_bg_0{
    background-color: #FFF;
}
.snow_bg_1{
    background: url('http://xqproduct.xiangqu.com/Ft19JuXW8IMbrr3uRT8Qm5nh2MoR');
    background-size: 100% 100%;
}
.snow_bg_2{
    background: url("http://xqproduct.xiangqu.com/FglASA5GrVrrnBjYsGYoZ4oNPjf2");
    background-size: 100% 100%;
}
.snow_bg_3{
    background:url("http://xqproduct.xiangqu.com/FlLJqIJb31s2RiwQpMxJ1lvAF8mX");
    background-size: 100% 100%;
}
.snow_bg_4{
    background: url("http://xqproduct.xiangqu.com/FglASA5GrVrrnBjYsGYoZ4oNPjf2");
    background-size: 100% 100%;
}
.snow_bg_5{
    background: url("http://xqproduct.xiangqu.com/FglASA5GrVrrnBjYsGYoZ4oNPjf2");
    background-size: 100% 100%;
}
.snow_bg_6{
    background: url("http://xqproduct.xiangqu.com/FglASA5GrVrrnBjYsGYoZ4oNPjf2");
    background-size: 100% 100%;
}
.snow_bg_7{
    background: url("http://xqproduct.xiangqu.com/FglASA5GrVrrnBjYsGYoZ4oNPjf2");
    background-size: 100% 100%;
}
.drop{
    -webkit-animation: drop 10s ease;
}
@-webkit-keyframes drop {
    0%{

    }
    100%{
        top:90%;
        opacity: .1;
        -webkit-transform: rotate(360deg);
    }
}
.bg_text{
    position: absolute;
    width: 70%;
    top: 20%;
    left: 15%;
    -webkit-animation: text_move 5s linear ;
    z-index: 20;
}
@-webkit-keyframes text_move{
    0%{
        opacity: 0;
        top: 10%;
        -webkit-transform: scale(0);
    }
    60%{
        opacity: .8;
    }
    100%{
        top: 20%;
        opacity: .5;
        -webkit-transform: scale(1);
    }

}
.text_hug{
    -webkit-animation: text_hug 3s ease;
}
@-webkit-keyframes text_hug {
    0%{
        -webkit-transform: scale(0);
        opacity: .8;
        top: 20%;
    }
    20%{
        -webkit-transform: scale(1.5);
        opacity: 1;
        top: 15%;
    }
    30%{
        -webkit-transform: scale(.5);
        opacity: .4;
        top: 20%;
    }
    50%{
        -webkit-transform: scale(1.2);
        opacity: .8;
        top: 17%;
    }
    60%{
        -webkit-transform: scale(.8);
        opacity: .6;
        top: 18%;
    }
    70%{
        -webkit-transform: scale(1.1);
        opacity: .7;
        top: 17%;
    }
    80%{
        -webkit-transform: scale(.9);
        opacity: .6;
        top: 18%;
    }
    100%{
        -webkit-transform: scale(1);
        opacity: .8;
        top: 20%;
    }
}
.gift_wrap{
    position: relative;
    width: 100%;
    height: 30rem;
    margin-top: 50%;
    -webkit-perspective: 100rem;
    -webkit-perspective-origin: 0px 0px;
    overflow: hidden;
    z-index: 19;
}
.gift_box{
    display: none;
    position: relative;
    width: 20rem;
    height: 20rem;
    margin: 4rem auto;
    -webkit-transform: rotateY(35deg);
    -webkit-transform-style: preserve-3d;
}
.gift_box_rotate{
    -webkit-animation: gift_rotate 10s linear infinite;
}
.gift_box_show{
    -webkit-animation: gift_box_show 2s ease;
}
@-webkit-keyframes gift_box_show {
    0%{
        opacity: .1;
        transform: scale(3.1);
        -webkit-transform: rotateY(35deg);

    }
    100%{
        opacity: .9;
        transform: scale(1);
        -webkit-transform: rotateY(395deg);
    }
}
@-webkit-keyframes gift_rotate {
    0%{
        -webkit-transform:rotateY(35deg);
    }
    100%{
        -webkit-transform:rotateY(395deg);
    }
}
.gift_box .gift_box_top{
    position: absolute;
    width: 20rem;
    height: 5rem;
    /*top:-4rem;*/
    -webkit-transform-style: preserve-3d;
}
.gift_box_top_open{
    -webkit-animation: box_top_open 2s ease;
}
@-webkit-keyframes box_top_open {
    0%{
        top:0rem;
        -webkit-transform:rotateY(35deg) rotateZ(0deg);
    }
    100%{
        top:-4rem;
        -webkit-transform:rotateY(395deg) rotateZ(30deg);
    }
}
.gift_box .gift_box_top div{
    position: relative;
    width: 15rem;
    height: 4rem;
    float: left;
    border-bottom: 1px solid #AAA;
    box-shadow: 1px 2px 3px #AAA;
    background:-webkit-linear-gradient(135deg,rgb(234,222,206) 30%,rgb(215,197,173));
    backface-visibility: hidden;

}

.gift_box div.top_top{
    height: 15rem;
    position: absolute;
    margin-top: -6rem;
    transform: rotateX(90deg);
    border: 1px solid #FFF;

}
.gift_box div.top_top .split_V{
    position: absolute;
    width: 100%;
    height: 3rem;
    margin-top:6rem;
    background:-webkit-linear-gradient(-45deg,rgb(245,67,53) 20%,rgb(164,17,7));
    border-right:1px rgb(164,17,7) solid;
    border-left:1px rgb(164,17,7) solid;

}
.gift_box div.top_top .split_H{
    position: absolute;
    width: 3rem;
    height:100%;
    margin-left: 6rem;
    background:-webkit-linear-gradient(-45deg,rgb(245,67,53) 20%,rgb(164,17,7));
    border-top:1px rgb(164,17,7) solid;
    border-bottom:1px rgb(164,17,7) solid;

}

.gift_box div.top_left{
    position: absolute;
    left:-7.5rem;
    top:1.5rem;
    transform: rotateY(-90deg);

}
.gift_box div.top_right{
    position: absolute;
    left:7.5rem;
    top:1.5rem;
    transform: rotateY(90deg);

}
.gift_box div.top_front{
    position: absolute;
    top:1.5rem;
    transform:translateZ(7.5rem) rotateY(0deg);

}
.gift_box div.top_behind{
    position: absolute;
    top:1.5rem;
    transform:translateZ(-7.5rem) rotateY(180deg);
}
.gift_box div .top_split{
    position: absolute;
    width: 3rem;
    height: 100%;
    margin-left:6rem;
    background:-webkit-linear-gradient(-45deg,rgb(245,67,53) 20%,rgb(164,17,7));
    border-top:1px rgb(245,67,53) solid;
    border-bottom:1px rgb(245,67,53) solid;
}
.gift_box .gift_box_bottom{
    position: absolute;
    width: 15rem;
    height: 5rem;
    /*top:-4rem;*/
    -webkit-transform-style: preserve-3d;

}
.gift_box_bottom_open{
    -webkit-animation: box_bottom_open 2s ease;
}
@-webkit-keyframes box_bottom_open {
    0%{
        top:0rem;
        -webkit-transform:rotateY(35deg);
    }
    100%{
        top:2rem;
        -webkit-transform:rotateY(395deg);
    }
}
.gift_box .gift_box_bottom div{
    position: relative;
    width: 15rem;
    height: 11rem;
    float: left;
    border-top: 1px solid #DDD;
    background:-webkit-linear-gradient(135deg,rgb(234,222,206) 30%,rgb(215,197,173));
    backface-visibility: hidden;

}
.gift_box div .split{
    position: absolute;
    width: 3rem;
    height: 100%;
    margin-left:6rem;
    background:-webkit-linear-gradient(-45deg,rgb(245,67,53) 20%,rgb(164,17,7));
    border-top:1px rgb(245,67,53) solid;
    border-bottom:1px rgb(245,67,53) solid;
}
.gift_box div.top{
    position: absolute;
    transform: rotateX(90deg);

}
.gift_box div.bottom{
    position: absolute;
    top:9rem;
    height: 15rem;
    transform: rotateX(-90deg);
    border: 1px solid #FFF;

}
.gift_box div.left{
    position: absolute;
    left:-7.5rem;
    top:5.5rem;
    transform: rotateY(-90deg);

}
.gift_box div.right{
    position: absolute;
    left:7.5rem;
    top:5.5rem;
    transform: rotateY(90deg);

}
.gift_box div.front{
    position: absolute;
    top:5.5rem;
    transform:translateZ(7.5rem) rotateY(0deg);

}
.gift_box div.behind{
    position: absolute;
    top:5.5rem;
    transform:translateZ(-7.5rem) rotateY(180deg);

}
.gift_box div.left_open{
    -webkit-animation: left_open 2s ease;
}
@-webkit-keyframes left_open {
    0%{
        top:5.5rem;
        transform: rotateY(-90deg) rotateX(0deg);
    }
    100%{
        top:11rem;
        transform: rotateY(-90deg) rotateX(-70deg);
    }
}
.gift_box div.right_open{
    -webkit-animation: right_open 2s ease;
}
@-webkit-keyframes right_open {
    0%{
        top:5.5rem;
        transform: rotateY(90deg) rotateX(0deg);
    }
    100%{
        top:11rem;
        transform: rotateY(90deg) rotateX(-70deg);
    }
}
.gift_box div.front_open{
    -webkit-animation: front_open 2s ease;
}
@-webkit-keyframes front_open {
    0%{
        top:5.5rem;
        transform:translateZ(7.5rem) rotateY(0deg);
    }
    100%{
        top:11rem;
        transform:translateZ(7.5rem) rotateY(0deg) rotateX(-70deg);
    }
}
.gift_box div.behind_open{
    -webkit-animation: behind_open 2s ease;
}
@-webkit-keyframes behind_open {
    0%{
        top:5.5rem;
        transform:translateZ(-7.5rem) rotateY(180deg) rotateX(0deg);
    }
    100%{
        top:11rem;
        transform:translateZ(-7.5rem) rotateY(180deg) rotateX(-70deg);
    }
}
img.love{
    position: absolute;
    display: none;
    width: 82.8%;
    top: 32%;
    margin-left: 8.6%;
    opacity: .8;
}
img.love_show{
    -webkit-animation: love_show 3s ease;
}
@-webkit-keyframes love_show {
    0%{
       -webkit-transform: scale(0);
        opacity: .8;
    }
    20%{
        -webkit-transform: scale(1.5);
        opacity: 1;
    }
    30%{
        -webkit-transform: scale(.5);
        opacity: .4;
    }
    50%{
        -webkit-transform: scale(1.2);
        opacity: .8;
    }
    60%{
        -webkit-transform: scale(.8);
        opacity: .6;
    }
    70%{
        -webkit-transform: scale(1.1);
        opacity: .7;
    }
    80%{
        -webkit-transform: scale(.9);
        opacity: .6;
    }
    100%{
        -webkit-transform: scale(1);
        opacity: .8;
    }
}
.ggl_wrap{
    position: absolute;
    top:32%;
    left: 0%;
    width: 100%;
    height: 40%;
}
.ggl{
    width: 82.8%;
    height: 100%;
    position: relative;
    margin: 0 auto;

}
.ggl .message{
    display: none;
    position: absolute;
    width: 70%;
    height: 80%;
    margin-left: 15%;
    margin-top: 10%;
    text-align: center;

}
.ggl .message img{
    display: none;
    width: 100%;
    height: 100%;

}
.ggl canvas{
    display: none;
    position: relative;
    width:100%;
    height: 100%;
}

img.my_nn{
    display: none;
    position: absolute;
    top:15%;
    left: 15%;
    width: 70%;
    border-radius: 20px;
    opacity: .6;
}
img.my_nn_show{
    -webkit-animation: my_nn_show 5s ease;
}
@-webkit-keyframes my_nn_show {
    0%{
        -webkit-transform: scale(0) rotate(0deg);
    }
    70%{
        -webkit-transform: scale(1.2) rotate(720deg);
    }
    100%{
        -webkit-transform: scale(1) rotate(720deg);
    }
}
img.my_nn_op{
    -webkit-animation: my_nn_op 2s ease infinite alternate;
}
@-webkit-keyframes my_nn_op {
    0%{
        opacity: .6;
    }
    50%{
        opacity: .8;
    }
    100%{
        opacity: .6;
    }
}
img.ILU{
    display: none;
    position: absolute;
    top:70%;
    left: 25%;
    width: 50%;
    border-radius: 20px;
    opacity: .6;
    -webkit-transform: rotate(30deg);
}
img.ILU_hug{
    -webkit-animation: ILU_hug 2s ease infinite alternate;
}
@-webkit-keyframes ILU_hug {
    0%{
        -webkit-transform: rotate(30deg) scale(1);
    }
    50%{
        -webkit-transform: scale(1.2);
    }
    100%{
        -webkit-transform: rotate(-40deg) scale(1);
    }
}