@mixin remsize($name,$px) {
  [data-dpr="2"] &{
    #{$name}: $px*2/2+px;
  }
  [data-dpr="2.5"] &{
    #{$name}: $px*2.5/2+px;
  }
  [data-dpr="2.75"] &{
    #{$name}: $px*2.75/2+px;
  }
  [data-dpr="3"] &{
    #{$name}: $px*3/2+px;
  }
  [data-dpr="3.5"] &{
    #{$name}: $px*3.5/2+px;
  }
  [data-dpr="4"] &{
    #{$name}: $px*4/2+px;
  }
}
@function px2rem($rem) {
  @return $rem/2 + rem;
}
body,ul,li,p{
  margin: 0;
  padding: 0;
}
li{
  list-style: none;
}
section,p,div,ul,li{
  box-sizing: border-box;
}
body{
  font-size: 12px;
  //font-family:'Helvetica';
}